<template name="home">
	<div class="posts-list">
		<div class="container">
			{{# each posts }}
				{{> homePostItem }}
			{{/ each }}
		</div>
	</div>
	<div class="white-panel"></div>
</template>

<template name="homePostItem">
	<div class="row">
		<div class="col-sm-10 col-sm-offset-1">
			<div class="image" style="{{# if image }}background-image: url({{ image.url }}){{/ if }}">
				<div class="content">
					<h3>
						{{ title }} <small><!--{{ livestamp createdAt }}--></small>
					</h3>
				</div>
			</div>
		</div>
	</div>
</template>