<template name="layout">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 col-lg-offset-2">
				<div class="header">
					{{> header }}
				</div>
				<br><br>
				<div class="content">
					{{> yield }}
				</div>
				<br>
				<div class="footer">
					{{> footer }}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="header">
	<div class="logo-big-screens hidden-xs">
		<a href="{{ RouterLayerPathFor 'home' }}">
			<img class="img-circle" src="{{ dict 'logo.url' 'http://i.imgur.com/6PeLvIG.png' }}">
		</a>
	</div>
	<div class="visible-xs text-center">
		<br>
		<a href="{{ RouterLayerPathFor 'home' }}">
			<img class="img-circle" src="{{ dict 'logo.url' 'http://i.imgur.com/6PeLvIG.png' }}">
		</a>
	</div>
	<div class="texts">
		<h1>
			<a href="{{ RouterLayerPathFor 'home' }}">
				Orion Example Blog
			</a>
		</h1>
		<p class="description">
			Orion is simple and powerful CMS for meteor, check more info on
			<a href="http://github.com/orionjs/orion">Github</a>.
		</p>
	</div>
</template>

<template name="footer">
	<hr>
	<p class="text-muted">
		<a href="http://github.com/orionjs/orion">Orion</a>
		is an open source platform that allow developers to create complex websites in minutes.
		Its build with <a href="http://meteor.com">Meteor</a> by <a href="http://github.com/nicolaslopezj">Nicolás López</a>
	</p>
</template>
