.header {
	position: fixed;
	text-align: center;
	margin-top: 40px;
	width: 100%;
	z-index: 0;

	img {
		max-width: 50px;
	}

	h1 {
		font-size: 2em;
		font-weight: 400;
		letter-spacing: .2em;
		margin-bottom: 20px;
		text-align: center;
		text-indent: .3em;
		text-transform: uppercase;
	}

	.add {
		font-size: 30px;
		a, a:hover {
			text-decoration: none;
		}
	}

}

.footer {
	font-size: .8em;
	font-weight: 400;
	letter-spacing: .2em;
	margin-bottom: 20px;
	text-align: center;
	text-indent: .3em;
	text-transform: uppercase;
}