<template name="layout">
	<div class="header">
		<a href="http://orion.meteor.com">
			<img class="img-circle" src="{{ dict 'logo.url' 'http://i.imgur.com/6PeLvIG.png' }}">
		</a>
		<h1 class="title">Example Blog</h1>
		<p>{{ dict 'description' }}</p>
		<p class="add">
			<a href="{{ pathFor 'adminEntitiesCreate' entity='posts' }}">
				+
			</a>
		</p>
	</div>
	<!-- Beacouse this is used like a layout, the yield will include the template with the name of the route.  -->
	{{> yield }}
	<br><br><br>
</template>